# /etc/systemd/system/geoip-update.service
[Unit]
Description=GeoIP Update Service
After=network-online.target
Wants=network-online.target
  
[Service]
# Тип службы, указан oneshot, без порождения подпроцессов для упрощения взаимодействия с таймерами
Type=oneshot
# Перезапуск при сбое, необязательный параметр
#Restart=on-failure
# Пример выполняемой команды
ExecStart=/usr/local/bin/geoip-update.sh

[Install]
WantedBy=network-online.target