[Unit]
Description=GeoIP load after boot
  
[Service]
Type=simple
ExecStart=/opt/geoip_block/bin/geoip-block.sh apply

[Install]
WantedBy=multi-user.target