[Unit]
Description=GeoIP Update Service
  
[Service]
Type=simple
#ExecStartPre=/usr/bin/bash -c 'until getent ahosts google.com > /dev/null; do sleep 1; done'
ExecStart=/opt/geoip_block/bin/geoip-block.sh update

[Install]
WantedBy=multi-user.target